// Color Palette
$orange: #FF9F33;
$dark-blue: #000066;
$light-blue: #8BD5F2;
$dark-grey: #404040;
$light-grey: #F2F2F2;

// Font stack
@import url('https://fonts.googleapis.com/css?family=Catamaran:100|Orbitron');
$heading-font: 'Orbitron',
sans-serif;
$body-font: 'Catamaran',
sans-serif;