// COLOR PALETTE
$orange: #FF9900;
$dark-blue: #000066;
$dark-grey: #404040;
$light-grey: #F2F2F2;

// FONT STACK
@import url('https://fonts.googleapis.com/css?family=Catamaran:100|Orbitron');
$heading-font: 'Orbitron',
sans-serif;
$body-font: 'Catamaran',
sans-serif;

// STYLING

$shadow_1: -0.5rem 0.5rem 1rem #000000;
$shadow_2: -0.2rem 0.2rem 0.4rem #000000;
$shadow_3: -0.4rem 0.4rem 0.8rem #000000;
$shadow_4: -0.1rem 0.1rem 0.2rem #000000;
$shadow_5: -0.3rem 0.3rem 0.6rem #000000;