@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Catamaran:100|Orbitron");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  background-color: #404040;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px minmax(calc(100vh - 150px - 6rem), auto) 50px;
      grid-template-rows: 100px minmax(calc(100vh - 150px - 6rem), auto) 50px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "main" "footer";
  grid-gap: 3rem;
}

@media screen and (min-width: 1026px) {
  body {
    -ms-grid-rows: 100px minmax(calc(100vh - 250px), auto) 100px 50px;
        grid-template-rows: 100px minmax(calc(100vh - 250px), auto) 100px 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "main" "contact" "footer";
    grid-gap: 0;
  }
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  #home-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "greeting" "photo";
  }
}

@media screen and (min-width: 1026px) {
  #home-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "greeting" "photo";
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  #about-page #about-scroll {
    max-width: 700px;
    margin: 0 auto;
    height: 550px;
    overflow: auto;
  }
}

@media screen and (min-width: 1026px) {
  #about-page #about-scroll {
    max-width: 900px;
    margin: 0 auto;
    height: 550px;
    overflow: auto;
    margin-top: 4.5rem;
  }
}

#about-page ::-webkit-scrollbar {
  width: 5px;
}

#about-page ::-webkit-scrollbar-track {
  background: #F2F2F2;
}

#about-page ::-webkit-scrollbar-thumb {
  background: #888;
}

#about-page ::-webkit-scrollbar-thumb:hover {
  background: #FF9F33;
}

#about-page .feature .info {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about-page .feature .info ul li {
  font-size: 0.9em;
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  #about-page .feature .info {
    min-height: 410px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  #about-page .feature .icons {
    min-height: 410px;
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

header #logo {
  height: 50px;
}

@media screen and (max-width: 500px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header #hamburger i {
    font-size: 50px;
    color: #404040;
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  header #hamburger {
    width: 100%;
  }
  header #hamburger #primary-nav {
    width: 100%;
  }
  header #hamburger #primary-nav ul:not(.dropdown-items) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #hamburger #primary-nav ul:not(.dropdown-items) li:first-child {
    margin-left: auto;
  }
  header #hamburger i {
    display: none;
  }
}

@media screen and (min-width: 1026px) {
  header #hamburger {
    width: 100%;
  }
  header #hamburger #primary-nav {
    width: 100%;
  }
  header #hamburger #primary-nav ul:not(.dropdown-items) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #hamburger #primary-nav ul:not(.dropdown-items) li:first-child {
    display: none;
  }
  header #hamburger #primary-nav ul:not(.dropdown-items) li:nth-child(2) {
    margin-left: auto;
  }
  header #hamburger i {
    display: none;
  }
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

header,
footer {
  background-color: #F2F2F2;
}

#greeting {
  grid-area: greeting;
}

#photo {
  grid-area: photo;
  margin: 0 auto;
}

#photo img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

#photo .caption {
  position: absolute;
  background-color: black;
  color: #F2F2F2;
  border-radius: 10px;
  bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  width: 200px;
  left: calc(50% - 100px);
}

@media screen and (max-width: 500px) {
  #photo {
    height: 250px;
    width: 250px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  #photo {
    bottom: 100px;
    z-index: 10;
    margin-bottom: -100px;
  }
}

@media screen and (min-width: 1026px) {
  #photo {
    position: absolute;
    left: 6rem;
    bottom: -7rem;
    z-index: 10;
  }
  #photo img {
    height: 350px;
    width: 350px;
  }
  #photo .caption {
    font-size: 1.5rem;
    border-radius: 10px;
    bottom: 40px;
    width: 300px;
    left: calc(50% - 150px);
  }
}

h2 {
  padding: 3rem;
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  section:not(#photo) {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1026px) {
  section:not(#photo) {
    max-width: 900px;
    margin: 0 auto;
  }
}

.feature {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .feature {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature .info {
  background-color: #F2F2F2;
}

@media screen and (max-width: 500px) {
  .feature .info {
    padding: 3rem 3rem 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  .feature .info {
    padding: 3rem;
    padding-right: 1.5rem;
    min-height: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 1026px) {
  .feature .info {
    padding: 3rem;
    padding-right: 1.5rem;
    min-height: 450px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.feature .icons {
  background-color: #F2F2F2;
}

@media screen and (max-width: 500px) {
  .feature .icons {
    padding: 1.5rem 3rem 3rem;
    width: 100%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  .feature .icons {
    padding: 3rem;
    padding-left: 1.5rem;
    min-height: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 1026px) {
  .feature .icons {
    padding: 3rem;
    padding-left: 1.5rem;
    min-height: 450px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.feature .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature .icons ul li {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .feature .icons ul li {
    padding: 3rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  .feature .icons ul li {
    padding: 1rem;
  }
}

@media screen and (min-width: 1026px) {
  .feature .icons ul li {
    padding: 1.5rem;
  }
}

#secondary-nav {
  display: none;
}

nav {
  text-align: center;
}

@media screen and (max-width: 500px) {
  nav {
    display: none;
    position: absolute;
    right: 0;
    width: calc(100vw - 100px);
  }
}

@media screen and (max-width: 500px) {
  #hamburger:hover > nav {
    display: block;
  }
}

@media screen and (min-width: 1026px) {
  #secondary-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #F2F2F2;
    padding: 0 50px;
  }
  #secondary-nav ul {
    margin-left: auto;
  }
}

.dropdown-items {
  display: none;
  background-color: #404040;
}

.dropdown-menu:hover .dropdown-items {
  position: absolute;
  display: inherit;
  right: 0;
}

@media screen and (max-width: 500px) {
  .dropdown-menu:hover .dropdown-items {
    width: 100%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  .dropdown-menu:hover .dropdown-items {
    width: 20rem;
  }
  .dropdown-menu:hover .dropdown-items a {
    width: 100%;
  }
}

@media screen and (min-width: 1026px) {
  .dropdown-menu:hover .dropdown-items {
    width: 20rem;
  }
  .dropdown-menu:hover .dropdown-items a {
    width: 100%;
  }
}

nav {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
}

nav ul li {
  list-style: none;
  z-index: 999;
}

nav ul li a {
  background-color: #F2F2F2;
  color: #404040;
  display: block;
  padding: 1.5rem;
  text-decoration: none;
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  nav ul li a {
    width: 200px;
  }
}

@media screen and (min-width: 1026px) {
  nav ul li a {
    width: 200px;
  }
}

nav ul li a:visited {
  color: #404040;
}

nav ul li a:hover {
  background-color: #404040;
  color: #F2F2F2;
}

.dropdown-items li a {
  background-color: #F2F2F2;
  opacity: 0.75;
}

.caption {
  font-family: "Catamaran", sans-serif;
}

h2 {
  color: #F2F2F2;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.feature {
  color: #404040;
  font-family: "Catamaran", sans-serif;
  font-size: 1.75rem;
  line-height: 2.5rem;
  text-align: center;
}

.feature .info ul li {
  list-style: none;
  font-size: 1.75rem;
}

.feature .info ul li:first-of-type {
  margin-top: 2rem;
}

.feature .icons ul li {
  list-style: none;
}

.feature .icons ul li a {
  text-decoration: none;
}

.feature .icons ul li a:visited {
  color: #404040;
}

@media screen and (max-width: 500px) {
  .feature .icons ul li i {
    font-size: 5rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  .feature .icons ul li i {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1026px) {
  .feature .icons ul li i {
    font-size: 7rem;
  }
}

@media screen and (max-width: 500px) {
  .feature .icons ul li img {
    width: 100px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1025px) {
  .feature .icons ul li img {
    width: 100px;
  }
}

@media screen and (min-width: 1026px) {
  .feature .icons ul li img {
    width: 110px;
  }
}

footer {
  color: #404040;
  font-family: "Catamaran", sans-serif;
}
/*# sourceMappingURL=styles.css.map */