@import 'reset';
@import 'variables';
@import 'mixins';


// LAYOUT
body {
    background-color: $dark-grey;
    display: grid;
    //grid-template-rows: $header minmax(calc(100vh - calc($header + $footer)), auto) $footer;
    grid-template-rows: 100px minmax(calc(100vh - 150px - 6rem), auto) 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "header""main""footer";
    grid-gap: 3rem;
}

main {
    grid-area: main;
}

#home-page {
    @include tablet {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-areas: "greeting""photo";
    }
}

#about-page {
    @include tablet {
        #about-scroll {
            max-width: 700px;
            margin: 0 auto;
            height: 550px;
            overflow: auto;
        }
    }

    .feature {
        .info {
            flex-wrap: wrap;

            ul {
                li {
                    font-size: 0.9em;
                }
            }

            @include tablet {
                min-height: 410px;
            }
        }

        .icons {

            @include tablet {
                min-height: 410px;
            }
        }
    }
}

header {
    grid-area: header;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 50px;

    #logo {
        height: 50px
    }

    @include mobile {
        justify-content: space-between;


        #hamburger i {
            font-size: 50px;
            color: $dark-grey;
        }
    }

    @include tablet {

        #hamburger {
            width: 100%;

            #primary-nav {
                width: 100%;



                ul:not(.dropdown-items) {
                    display: flex;

                    li:first-child {
                        margin-left: auto;
                    }
                }
            }
        }

        #hamburger i {
            display: none;
        }
    }
}

footer {
    grid-area: footer;


    @include center;
}


header,
footer {
    background-color: $light-grey;
}

#greeting {
    grid-area: greeting;
}

#photo {
    grid-area: photo;
    height: 250px;
    width: 250px;
    margin: 0 auto;

    img {
        border-radius: 50%;
    }

    @include tablet {
        bottom: 100px;
        z-index: 10;
        margin-bottom: -100px;
    }

    .caption {
        position: absolute;
        background-color: black;
        color: $light-grey;
        border-radius: 10px;
        bottom: 20px;

        @include center;

        width: 200px;
        left: calc(50% - 100px);
    }
}

h2 {
    padding: 3rem;
}

section:not(#photo) {
    @include tablet {
        max-width: 700px;
        margin: 0 auto;
    }
}

.feature {
    @include center;

    @include mobile {
        flex-wrap: wrap;
    }

    .info {
        background-color: $light-grey;

        @include mobile {
            padding: 3rem 3rem 1.5rem;

            @include center;

            flex-wrap: wrap;
        }

        @include tablet {
            padding: 3rem;
            padding-right: 1.5rem;
            min-height: 350px;

            @include center;
        }
    }

    .icons {
        background-color: $light-grey;

        @include mobile {
            padding: 1.5rem 3rem 3rem;
            width: 100%;
        }

        @include tablet {
            padding: 3rem;
            padding-left: 1.5rem;
            min-height: 350px;

            @include center;
        }

        ul {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;

            li {
                width: 50%;

                @include mobile {
                    padding: 3rem;
                }

                @include tablet {
                    padding: 1rem;
                }

            }
        }
    }
}

//NAVIGATION
nav {
    text-align: center;

    @include mobile {
        display: none;
        position: absolute;
        right: 0;
        width: calc(100vw - 100px);
    }

}

@include mobile {
    #hamburger:hover>nav {
        display: block;
    }
}


.dropdown-items {
    display: none;
    background-color: $dark-grey;

    @include tablet {}
}

.dropdown-menu:hover .dropdown-items {
    position: absolute;
    display: inherit;
    right: 0;

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 20rem;
    }
}

// TEXT STYLING

nav {
    font-family: $heading-font;
    font-size: 1.5rem;

    ul {
        li {
            list-style: none;
            z-index: 999;

            a {
                background-color: $light-grey;
                color: $dark-grey;
                display: block;
                padding: 1.5rem;
                text-decoration: none;

                &:visited {
                    color: $dark-grey;
                }

                &:hover {
                    background-color: $dark-grey;
                    color: $light-grey;
                }
            }
        }
    }
}

// See if the following  an be achieved with box shadows

// .dropdown-menu a {
//     border: 2px solid $dark-grey;
//     border-top: none;
// }

.dropdown-items li a {
    background-color: $light-grey;
    opacity: 0.75;
    //     border-left: 2px solid $dark-grey;
    //     border-right: 2px solid $dark-grey;
    //     border-top: none;
    //     border-bottom: none;
}

// .dropdown-items li:first-child a {
//     border-top: none;
// }

// .dropdown-items li:last-child a {
//     border-bottom: 2px solid $dark-grey;
// }

.caption {
    font-family: $body-font;
}

h2 {
    color: $light-grey;
    font-family: $heading-font;
    font-size: 2.5rem;
    text-align: center;
}

.feature {
    color: $dark-grey;
    font-family: $body-font;
    font-size: 1.75rem;
    line-height: 2.5rem;
    text-align: center;

    .info {
        ul {
            li {
                list-style: none;
                font-size: 1.75rem;

                &:first-of-type {
                    margin-top: 2rem;
                }
            }
        }
    }

    .icons {
        ul {
            li {
                list-style: none;

                a {
                    text-decoration: none;

                    &:visited {
                        color: $dark-grey;
                    }
                }


                i {
                    @include mobile {
                        font-size: 5rem;
                    }

                    @include tablet {
                        font-size: 5rem;
                    }
                }

                img {
                    @include mobile {
                        width: 100px;
                    }

                    @include tablet {
                        width: 100px;
                    }
                }
            }
        }
    }
}

footer {
    color: $dark-grey;
    font-family: $body-font;
}