@import 'reset';
@import 'variables';
@import 'mixins';


// LAYOUT

body {
    background-color: $dark-grey;
    background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/bo_play_pattern.png');
    display: grid;
    grid-template-rows: 100px minmax(calc(100vh - 150px - 6rem), auto) 50px;
    grid-template-areas: "header""main""footer";
    grid-gap: 3rem;
}

header {
    @include center;
    justify-content: initial;
    padding: 0 50px 0 100px;

    #logo {
        height: 75px;

        a {
            display: flex;
            align-items: center;

            img {
                height: 75px;
                filter: drop-shadow(-4px 2px 5px #000000);
            }
        }
    }

    #wordmark {
        margin-left: 1rem;
    }

    @include mobile {
        padding: 0 50px;
        justify-content: space-between;
    }

    @include desktop {
        padding: 0 100px 0 8rem;
    }
}

main {
    grid-area: main;
}

h2 {
    font-family: $heading-font;
    padding: 3rem;
    font-size: 2.5rem;
    text-align: center;
}

#home-page {
    @include tablet {
        display: grid;
        grid-template-rows: calc(358px + 8.5rem) auto;
        grid-template-areas: "greeting""photo";
    }
}

#greeting {
    grid-area: greeting;
}

#greeting,
#work,
#education,
#interests,
#technical-expertise,
#location,
#contact {
    @include tablet {
        max-width: 700px;
        margin: 0 auto;
    }
}

#photo {
    grid-area: photo;
    margin: 0 auto;
    @include circle(250px, 250px);

    img {
        @include circle(250px, 250px);
    }

    .caption {
        font-family: $heading-font;
        position: absolute;
        bottom: 20px;
        padding: 0.5rem 0;
        @include center;
        width: 200px;
        left: calc(50% - 100px);
    }

    @include mobile {
        margin-bottom: 3rem;
    }

    @include tablet {
        bottom: 100px;
        z-index: 10;
        margin-bottom: -100px;
    }

    @include desktop {
        position: absolute;
        left: 6rem;
        bottom: -5rem;
        margin-bottom: 0;
    }
}

#about-page {
    @include tablet {
        #about-scroll {
            max-width: 700px;
            margin: 0 auto;
            height: calc(100vh - 150px - 6rem);
            overflow: auto;
            border-radius: 20px 0 0 20px;
        }
    }

    .feature {

        .info,
        .icons {
            flex-wrap: wrap;

            @include tablet {
                min-height: 410px;
            }

            li {
                font-size: 0.9em;
            }
        }
    }
}

.feature {
    font-family: $body-font;
    font-size: 1.75rem;
    line-height: 2.5rem;
    text-align: center;
    @include center;

    @include mobile {
        flex-wrap: wrap;
    }

    .info,
    .icons {
        @include mobile {
            padding: 3rem 3rem 1.5rem;
        }

        @include tablet {
            padding: 3rem;
            padding-right: 1.5rem;
            min-height: 350px;
            @include center;
        }

        @include desktop {
            min-height: 400px;
        }
    }

    .info {
        @include mobile {
            @include center;
            flex-wrap: wrap;

            li {
                font-size: 1.75rem;

                &:first-of-type {
                    margin-top: 1.5rem;
                }
            }
        }
    }

    .icons {
        @include mobile {
            width: 100%;
        }

        ul {
            @include even_wrap;

            li {
                width: 50%;

                @include mobile {
                    padding: 2rem;
                }

                @include tablet {
                    padding: 1rem;
                }

                i {
                    font-size: 5rem;
                }

                img {
                    width: 100px;
                }
            }
        }
    }
}

footer {
    grid-area: footer;
    font-family: $body-font;
    @include center;
}

//NAVIGATION

@include mobile {
    #hamburger i {
        font-size: 50px;
    }

    #hamburger:hover>nav {
        display: block;
    }
}

@include tablet {
    #hamburger {
        width: 100%;

        i {
            display: none;
        }

        ul:not(.dropdown-items) {
            display: flex;

            li:first-child {
                margin-left: auto;
            }
        }
    }
}

nav {
    font-family: $heading-font;
    font-size: 1.5rem;
    text-align: center;

    @include mobile {
        display: none;
        position: absolute;
        right: 0;
        width: calc(100vw - 100px);
    }

    ul {
        li {
            z-index: 999;

            a {
                display: block;
                padding: 1.5rem;

                @include tablet {
                    width: 200px;
                }
            }
        }
    }
}

.dropdown-items {
    display: none;
}

.dropdown-menu:hover .dropdown-items,
.dropdown-menu:active .dropdown-items {
    position: absolute;
    display: inherit;
    right: 0;

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 20rem;

        a {
            width: 100%;
        }
    }

    @include desktop {
        width: 25rem;
    }
}

// STYLING

header,
footer {
    background-color: $dark-blue;
}

header {
    border-bottom: 2px solid $light-grey;
    box-shadow: 0px 0.5rem 1rem #000000;
}

#logo a {
    text-decoration: none;

    @include desktop {
        @include grow;
    }
}

#wordmark {
    color: $orange;

    span {
        color: $light-grey;
    }
}

#hamburger i {
    color: $orange;
    text-shadow: $shadow_4;
}

nav {
    text-shadow: $shadow_4;

    li {
        list-style: none;

        a {
            background-color: $dark-blue;
            color: $orange;
            text-decoration: none;

            @include mobile {
                background-color: $orange;
                color: $dark-blue;
                text-shadow: none;
            }

            &:visited {
                color: $orange;

                @include mobile {
                    color: $dark-blue;
                }
            }

            &:hover,
            &:active {
                background-color: $orange;
                color: $dark-blue;
                text-shadow: none;

                @include mobile {
                    background-color: $dark-grey;
                    color: $light-grey;
                }
            }
        }
    }
}

.dropdown-items {
    background-color: $dark-grey;

    a {
        color: $dark-grey;
        background-color: $light-grey;
        opacity: 0.75;
        text-shadow: none;

        &:visited {
            color: $dark-grey;
        }

        &:hover,
        &:active {
            background-color: $orange;
            color: $dark-blue;
        }
    }
}

#greeting,
#work,
#education,
#interests,
#technical-expertise,
#location,
#contact {
    @include tablet {
        box-shadow: $shadow_1;
    }
}

@include tablet {

    #contact,
    #greeting {
        h2 {
            border-radius: 20px 20px 0 0;
        }

        .info {
            border-radius: 0 0 0 20px;
        }

        .icons {
            border-radius: 0 0 20px 0;
        }
    }
}

#photo {
    img {
        border: 4px solid $orange;
        box-shadow: $shadow_2;
    }

    .caption {
        background-color: $orange;
        color: $dark-blue;
        border-radius: 20px;
    }

    @include desktop {
        @include grow_rise;
    }
}

@include tablet {
    #about-scroll {
        box-shadow: $shadow_1;
    }
}

h2 {
    color: $orange;
    background-color: $dark-blue;
    text-shadow: $shadow_5;

}

.feature {
    color: $dark-grey;

    a {
        text-decoration: none;
        color: $dark-grey;
    }

    .info,
    .icons {
        background-color: $light-grey;

        ul {
            li {
                list-style: none;
            }
        }
    }

    .icons {
        a {
            text-decoration: none;

            &:visited {
                color: $dark-grey;
            }
        }
    }
}

footer {
    color: $orange;
    text-shadow: $shadow_1;
}

// ADDDITIONAL STYLES

// Restyle scrollbar
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: $light-grey;
    box-shadow: inset 0 0 2px #000000;
}

::-webkit-scrollbar-thumb {
    background: $orange;
    height: 8.8rem;
}

::-webkit-scrollbar-thumb:hover {
    background: $orange;
}