@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Catamaran:100|Orbitron");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  background-color: #404040;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px minmax(calc(100vh - 150px), auto) 50px;
      grid-template-rows: 100px minmax(calc(100vh - 150px), auto) 50px;
}

@media screen and (max-width: 500px) {
  body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "main" "footer";
  }
}

main {
  grid-area: main;
}

header {
  grid-area: header;
}

@media screen and (max-width: 500px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  header #logo {
    height: 50px;
  }
  header #hamburger i {
    font-size: 50px;
    color: #404040;
  }
}

footer {
  grid-area: footer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

header,
footer {
  background-color: #F2F2F2;
}

#photo {
  margin: 40px auto 0;
}

#photo img {
  border-radius: 50%;
}

#photo .caption {
  position: absolute;
  background-color: black;
  color: #F2F2F2;
  border-radius: 10px;
  bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  width: 200px;
  left: calc(50% - 100px);
}

@media screen and (max-width: 500px) {
  #photo {
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
  h2 {
    padding: 3rem;
  }
}

.feature {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .feature {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature .info,
.feature .icons {
  background-color: #F2F2F2;
}

@media screen and (max-width: 500px) {
  .feature .info,
  .feature .icons {
    padding: 1.5rem 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

section:last-of-type {
  margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
  nav {
    display: none;
    position: absolute;
    right: 0;
    width: 19.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  #hamburger:hover > nav {
    display: block;
  }
}

.dropdown-items {
  display: none;
  background-color: #404040;
}

.dropdown-menu:hover .dropdown-items {
  display: inherit;
}

nav {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
}

nav ul li {
  list-style: none;
  z-index: 999;
}

nav ul li:first-child a {
  border: 2px solid #404040;
  border-bottom: none;
}

nav ul li a {
  background-color: #F2F2F2;
  color: #404040;
  display: block;
  height: 100%;
  padding: 1.5rem;
  text-decoration: none;
  width: 100%;
}

nav ul li a:visited {
  color: #404040;
}

nav ul li a:hover {
  background-color: #404040;
  color: #F2F2F2;
}

.dropdown-menu a {
  border: 2px solid #404040;
  border-top: none;
}

.dropdown-items li a {
  background-color: #F2F2F2;
  opacity: 0.75;
  border-left: 2px solid #404040;
  border-right: 2px solid #404040;
  border-top: none;
  border-bottom: none;
}

.dropdown-items li:first-child a {
  border-top: none;
}

.dropdown-items li:last-child a {
  border-bottom: 2px solid #404040;
}

.caption {
  font-family: "Catamaran", sans-serif;
}

h2 {
  color: #F2F2F2;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
}

@media screen and (max-width: 500px) {
  h2 {
    text-align: center;
  }
}

.feature {
  color: #404040;
  font-family: "Catamaran", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

@media screen and (max-width: 500px) {
  .feature {
    text-align: center;
  }
}

footer {
  color: #404040;
  font-family: "Catamaran", sans-serif;
}
/*# sourceMappingURL=styles.css.map */